{% extends 'layout.html.twig' %}

{% block content %}

    <h1> {{title}}</h1>
    {# Methode 1 : {{ form(membreForm) }}#}
    {# Methode 2 : On va générer nous-même le formulaire #}

    {{ form_start(membreForm) }}


        {# Si on souhaite afficher toutes les erreurs : {{ form_erreurs(membreForm) }} #}

        <div class="form-group">
            {# ceci permet d'afficher le champs, le label et les erreurs {{ form_row(membreForm.pseudo) }} #}
        </div>


        <div class="form-group">
            <label>{{ form_label(membreForm.pseudo) }}</label>
            {{ form_widget(membreForm.pseudo, {'attr' : { 'class' : 'form-control', 'placeholder' : 'Votre pseudo'}} ) }}
            {% if(form_errors(membreForm.pseudo)) %}
            <span class="alert-danger">{{ form_errors(membreForm.pseudo) }}</span>
            {% endif %}
        </div>


    {{ form_end(membreForm) }}
    {# Ceci permet de générer des jeton CSRF et gère la sécurité #}



{% endblock %}